.ant-modal-header {
  background: @primary-color  !important;
}

.ant-modal-title {
  color: #fff !important;
}

.ant-modal-close {
  color: #fff !important;

  &:focus,
  &:hover {
    color: #fff !important;
  }
}
