.ant-menu-inline-collapsed-tooltip a {
  color: @text-color-inverse;
}


//menu
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}

.ant-menu-submenu>.ant-menu {
  border-radius: @border-radius-xl;
}
