.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.admin-side {
  height: calc(100% - 20px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 10px 10px;
  border-radius: @border-radius-xl;
  box-shadow: @card-shadow;

  &.hidden {
    margin: 10px 0;
  }

  .admin-side-header {
    height: 64px;
    position: relative;
    line-height: 64px;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    display: flex;
    padding-left: 8px;

    .logo {
      height: 32px;
      width: 32px;
      vertical-align: middle;
      background: rgba(0, 0, 0, 0.219);
      margin: 16px;
    }
  }
}



.ant-layout-sider-dark .logo {
  background: #fafafa;
}

.admin-drawer-body {
  height: 100%;
  padding: 10px;
}

.admin-drawer {
  .ant-drawer-content {
    background-color: @layout-body-background;

    .ant-drawer-body {
      height: 100%;
      padding: 0px;
    }
  }

}
