@import "~ant-design-vue/dist/antd.less";
// @import "default/index";
@import "antd/index";

// -------- Colors -----------
@primary-color: #1492ff;

@border-radius-lg: 10px;
@border-radius-md: 6px;
@border-radius-base: 4px;
@border-radius-sm: 2px;

// Card
// ---
@card-shadow: 0 0 10px 0 rgba(154, 161, 171, 0.15);
@card-radius: @border-radius-lg;

.ant-card {
  border: none;
  box-shadow: @card-shadow;
}

//menu
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}
