// 登陆界面
@color-primary: @primary-7;
@color-grey: @gray-3;
@color-semidark: @primary-color;

.login-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: @body-background;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .primary {
    color: @color-semidark;
  }

  .grey {
    color: @color-grey;
  }

  .width-100 {
    width: 100%;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background: url('~@/assets/img/banner.png') no-repeat 20%;
    background-size: cover;
  }

  .main {
    position: relative;
    flex: 1;
    overflow-y: auto;
  }

  .login-main {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08) !important;
    border-radius: @border-radius-xl;
  }

  .input,
  input {
    border-color: @color-grey;
    background: @color-grey !important;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
  }

  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 40px;
  }

  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 40px;
  }

  button {
    height: 50px;
    font-size: 16px;
  }

  .login-title {
    text-align: center;
    padding-top: 0;
    color: @color-semidark;
    font-size: 17px;
    font-weight: 700;
    width: 300px;
  }

  .login-btn {
    color: @component-background;
    box-shadow: 0 2px 7px @color-semidark;
    font-weight: 700;
    background-color: @color-primary !important;
    border: none;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .a {
    color: @color-primary;
    text-decoration: none;
    border-bottom: 1px dashed @color-semidark;
    margin-top: -3px;
    padding-bottom: 2px;
    font-weight: 700;
  }

  .login-font {
    font-weight: 700;
    color: @color-semidark;
  }

  .login-logo {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto -60px;
    border-radius: 50%;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
    padding: 20px;
    background-color: @component-background;
    z-index: 3;
    position: relative;
  }

  .cs {
    font-size: 20px;
  }

  .is-see {
    font-size: 25px;
  }

  .cs-svg {
    width: 30px;
    height: 30px;
  }
  .ant-btn-link:hover,
  .ant-btn-link:focus {
    border: none;
  }
}

.toast-content {
  word-wrap: break-word;
  max-width: 320px;
  min-width: 200px;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-col {
  .silde-check {
    padding: 0 !important;
    .tips-info {
      display: none;
    }
  }
}

.toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 66px;
  height: 64px;
  i {
    display: block;
    height: 100%;
    cursor: pointer;
  }
}

.icon-scan {
  background: url('~@/assets/img/scan.png') 50% / contain no-repeat;
}

.icon-form {
  background: url('~@/assets/img/form.png') 50% / contain no-repeat;
}

.code-title {
  font-size: 24px;
  font-weight: 900;
  color: @color-semidark;
  text-align: left;
}

.code {
  text-align: center;
  height: 100%;
  img {
    height: 100%;
  }
}

.login-header {
  display: flex;
  align-items: center;
  height: 15%;
  min-height: 90px;
  color: rgba(255, 255, 255, 0.99);
  .logo {
    float: left;
    width: 184px;
    height: 40px;
    background: url('~@/assets/logo.png') no-repeat center;
  }
  .header-title {
    font-family: 'foundBlack';
    font-size: 36px;
  }
  .toggle-link {
    i {
      margin-right: 3px;
    }
    a {
      float: left;
      padding: 0 15px;
      font-size: 24px;
    }
  }
}

.login-box {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-48%);
  width: 400px;
  .pt-3 {
    height: 242px;
  }
}

.about {
  flex: 1;
  .contactR {
    position: absolute;
    top: 45%;
    right: 8%;
    transform: translateY(-50%);
    > img {
      margin-bottom: 20px;
      width: 472px;
    }
    div {
      height: 48px;
      line-height: 48px;
      color: rgba(255, 255, 255, 0.99);
      font-size: 18px;
      position: relative;
      padding-left: 50px;
      display: flex;
      align-items: center;
      img {
        width: 25px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0;
      }
    }
  }
  .QRcode {
    position: absolute;
    right: 78px;
    bottom: 48px;
  }
}

.slide-verify-block {
  // cursor: pointer;
}

.login-container {
  min-height: 450px;
  overflow: hidden;
  overflow-y: auto;
}

.footer {
  text-align: right;
  padding: 0 20px;
  height: 90px;
  line-height: 90px;
  font-size: 18px;
  color: #fff;
}
