// -------- Colors -----------
//#1492ff;
// @primary-color: #1492ff;

@border-radius-xl: 10px;
@border-radius-lg: 8px;
@border-radius-md: 6px;
@border-radius-base: 4px;
@border-radius-sm: 2px;

// Card
// ---
@card-shadow: 0 0 10px 0 rgba(154, 161, 171, 0.15);
@card-radius: @border-radius-xl;


// form default: 24px
@ant-form-item-bottom : 16px;
